<?php

$rules = require __DIR__.'/vendor/jeka/cs-fixer-rules/package_rules.php';

$finder = PhpCsFixer\Finder::create()
    ->exclude([
        'bootstrap',
        'public',
        'storage',
        'vendor',
    ])
    ->notPath('*')
    ->name('*.php')
    ->notName('*.blade.php')
    ->in(__DIR__)
    ->ignoreDotFiles(true)
    ->ignoreVCS(true);

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules($rules)
    ->setFinder($finder);
